# GRUB menu for UEFI ISO boots only (see package-iso) - keep the entries and
# kernel arguments in sync with the Syslinux menu (isolinux.cfg/global.cfg)
set default=0
set timeout=3

menuentry "BurmillaOS ${VERSION} ${KERNEL_VERSION}" {
    linux /boot/vmlinuz-${KERNEL_VERSION} ${APPEND}
    initrd /boot/initrd-${VERSION}
}

menuentry "Autologin on tty1 and ttyS0" {
    linux /boot/vmlinuz-${KERNEL_VERSION} ${APPEND} panic=10 rancher.autologin=tty1 rancher.autologin=ttyS0
    initrd /boot/initrd-${VERSION}
}

menuentry "Debug logging" {
    linux /boot/vmlinuz-${KERNEL_VERSION} ${APPEND} rancher.debug=true
    initrd /boot/initrd-${VERSION}
}

menuentry "Recovery console" {
    linux /boot/vmlinuz-${KERNEL_VERSION} ${APPEND} rancher.recovery=true
    initrd /boot/initrd-${VERSION}
}
